{% extends 'Pages/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post"  novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.category|as_crispy_field }}
      </div>
        <div class="col-6">
        {{ form.place|as_crispy_field }}
      </div>
        <div class="col-6">
        {{ form.address|as_crispy_field }}
      </div>
        <div class="col-6">
        {{ form.startDate|as_crispy_field }}
      </div>
        <div class="col-6">
        {{ form.finishDate|as_crispy_field }}
      </div>
        <div class="col-6">
        {{ form.eventType|as_crispy_field }}
      </div>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
{% endblock %}
